@charset "utf-8";

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/manrope-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  }
  /* manrope-500 - latin */
  @font-face {
    font-family: 'Manrope-Medium';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/manrope-v4-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/manrope-v4-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/manrope-v4-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/manrope-v4-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/manrope-v4-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/manrope-v4-latin-500.svg#Manrope') format('svg'); /* Legacy iOS */
  }
  /* manrope-600 - latin */
  @font-face {
    font-family: 'Manrope-Semibold';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/manrope-v4-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/manrope-v4-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/manrope-v4-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/manrope-v4-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/manrope-v4-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/manrope-v4-latin-600.svg#Manrope') format('svg'); /* Legacy iOS */
  }
  /* manrope-700 - latin */
  @font-face {
    font-family: 'Manrope-Bold';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/manrope-v4-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/manrope-v4-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/manrope-v4-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/manrope-v4-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/manrope-v4-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/manrope-v4-latin-700.svg#Manrope') format('svg'); /* Legacy iOS */
  }
  /* manrope-800 - latin */
  @font-face {
    font-family: 'Manrope-Xbold';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/manrope-v4-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/manrope-v4-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/manrope-v4-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/manrope-v4-latin-800.woff') format('woff'), /* Modern Browsers */
         url('../fonts/manrope-v4-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/manrope-v4-latin-800.svg#Manrope') format('svg'); /* Legacy iOS */
  }

html, body{
    margin: 0;
    padding: 0;
}
nav{
    margin: 0;
    padding: 0 4em;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: #e6f5fa;
}

nav a{
    text-decoration: none;
}

#logo{
    font-family: 'Manrope-Bold';
    font-size: 32px;
    color: #0068fd;
}

h1{
    margin: 0;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.menu > a{
    padding: 10px;
    font-family: 'Manrope-Medium';
    font-size: 14px;
    color: #7f8694;
}

.menu .blue-text, .blue-text{
    color: #0068fd;
}

#intro{
    padding: 3em 4em;
    display: flex;
    background-color: #e6f5fa;
}

#intro-content{
    flex: 60%;
}

#intro-content h2{
    margin: 0;
    font-family: 'Manrope-Xbold';
    font-size: 45px;
}

.sub-text{
    font-family: 'Manrope-Medium';
    font-size: 16px;
    color: #7f8694;
}

.span-break{
    display: block;
}

#intro > img{
    flex: 40%;
    width: 20%;
}

.mail-form{
    width: max-content;
    display: flex;
}

.mail-form .mail{
    position: relative;
    border: 0;
    border-radius: 8px 0 0 8px;
    font-family: 'Manrope-Medium';
    font-size: 16px;
    width: 220px;
    height: 32px;
    padding: 5px 15px;
    box-shadow: -5px 5px 8px #888888;
}

.mail-form .get-early-access{
    position: absolute;
    left: 282.4px;
}
.get-early-access{
    border: 0;
    background-color: #0068fd;
    font-family: 'Manrope-Medium';
    font-size: 16px;
    color: white;
    height: 42px;
    padding: 10px 20px;
    border-radius: 8px;
}

#all-features{
    padding: 3em 4em;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

h3{
    flex: 30%;
    margin: 0;
    font-family: 'Manrope-Bold';
    font-size: 40px;
    color: #000;
    margin-bottom: 40px;
}

.feature{
    flex: 30%;
    height: 220px;
}

.feature > img{
    height: 70px;
}
.feature > h4{
    font-family: 'Manrope-Bold';
    font-size: 18px;
    margin: 0;
    color: #000;
}

.feature .sub-text{
    margin: 0;
}

#get-early-access-placeholder{
    flex: 30%;
    margin: auto 0;
}

.get-early-access img{
    height: 10px;
    margin: auto;
    margin-left: 25px;
}

#automating-features{
    position: relative;
    padding: 0 4em;
    padding-bottom: 290px;
}

#automating-features > h3{
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
}

#automating-features > .sub-text{
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

.automating-features-item{
    display: flex;
    margin: 40px 0;
    height: 500px;
    justify-content: space-between;
}

.automating-features-item > div{
    margin: auto 0;
    width: 50%;
    flex: 50%;
}

.automating-features-item > #illustration-3{
    display: flex;
    margin: auto 0;
    height: 600px;
    vertical-align: middle;
    justify-content: left;
}

.automating-features-item > #illustration-1{
    display: flex;
    padding: 0;
    height: 600px;
    justify-content: right;
}

.automating-features-item > #illustration-3 > img{
    padding: 70px 0;
    height: 60%;
}

.automating-features-item > #illustration-1 > img{
    height: 90%;
}

#mission{
    position: absolute;
    bottom: -200px;
    margin: 0 4em;
    background-color: #f4f6fb;
    border-radius: 18px;
}

#mission > div{
    padding: 4em;
    margin: auto 0;
    width: 50%;
}


#mission > img{
    position: absolute;
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 88px 18px;
    top: -50px;
    right: 50px;
}

#reviews{
    background-color: #011532;
    height: 1000px;
}